
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Centraliza verticalmente */
}

.header-bar {
    background: rgba(80, 76, 190, 0.504);
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Borda superior fina */
    border-left: 1px solid rgba(255, 255, 255, 0.2); /* Borda esquerda fina */
    border-right: 1px solid rgba(255, 255, 255, 0.2); /* Borda direita fina */
    border-radius: 20px 20px 0 0; /* Arredonda apenas os cantos superiores */
    padding: 20px 40px;
    width: 90%;
    max-width: 600px;
    text-align: left;
    margin-bottom: 0px; /* Espaço entre a barra e o tracker-container */
    display: flex;
    justify-content: space-between; /* Distribui espaço entre os elementos */
    align-items: center; /* Alinha os elementos verticalmente no centro */
}

.add-icon {
    margin-left: 10px; /* Margem à esquerda do ícone */
    color: #aaa; /* Cor cinza */
    font-size: 1.5rem; /* Tamanho do ícone */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transform: scale(0.8); /* Reduz o tamanho do ícone para torná-lo mais fino */
}

.add-icon i {
    transition: color 0.3s ease; /* Transição suave de cor */
}

.add-icon:hover i {
    color: #666; /* Cor mais escura ao passar o mouse */
}

.tracker-container {
    background: rgba(38, 38, 38, 0.95); /* Cinza um pouco mais claro */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Borda inferior fina */
    border-left: 1px solid rgba(255, 255, 255, 0.2); /* Borda esquerda fina */
    border-right: 1px solid rgba(255, 255, 255, 0.2); /* Borda direita fina */
    border-radius: 0 0 20px 20px; /* Arredonda apenas os cantos inferiores */
    padding: 25px;
    width: 90%;
    max-width: 600px;
    height: 80%; /* Define uma altura fixa para o container */
    display: flex;
    flex-direction: column;
}

.weekdays-container {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    font-size: 1.25rem; /* Mesma fonte dos itens de hábitos */
    color: #aaa; /* Mesma cor dos itens de hábitos */
    text-align: center;
    position: relative;
    margin-bottom: 10px; /* Espaço menor abaixo dos botões */
}

.weekdays-container button {
    background: #333; /* Cinza mais claro */
    border: 2px solid #444;
    color: #aaa; /* Mesma cor dos itens de hábitos */
    padding: 6px 10px; /* Tamanho menor para caber melhor */
    border-radius: 20px; /* Arredondamento maior */
    outline: none;
    font-size: 1rem; /* Fonte menor para caber melhor */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin: 5px; /* Margem entre os botões */
    flex: 1 1 auto; /* Permite que os botões sejam flexíveis */
}

@media (max-width: 768px) {
    .weekdays-container button {
        padding: 5px 8px; /* Diminui o preenchimento */
        font-size: 0.9rem; /* Diminui a fonte */
    }
}

@media (max-width: 576px) {
    .weekdays-container button {
        padding: 4px 6px; /* Diminui o preenchimento */
        font-size: 0.8rem; /* Diminui a fonte */
    }
}

@media (max-width: 400px) {
    .weekdays-container button {
        padding: 3px 4px; /* Diminui o preenchimento */
        font-size: 0.7rem; /* Diminui a fonte */
    }
}

.weekdays-container button.active {
    background: #333; /* Mesmo fundo para manter consistência */
    border: 2px solid #007bff; /* Borda fina azul */
    color: #eeebeb; /* Mantém a cor do texto original */
}

.habit-list-container {
    flex-grow: 1;
    max-height: 500px; /* Define uma altura máxima para o container de hábitos */
    overflow-y: auto;
    padding-right: 10px;
    position: relative;
}

.list-group-item {
    background: transparent;
    color: #d6d6d6;
    border-bottom: 1px solid #444;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 15px 15px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background: rgba(255, 255, 255, 0.05);
}

.no-habits-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #aaa;
    font-size: 1.5rem;
    font-weight: 300;
    display: none; /* Oculta a mensagem inicialmente */
}

/* Estilo para o scroll minimalista e cinza */
.habit-list-container::-webkit-scrollbar {
    width: 6px; /* Largura do scroll */
}

.habit-list-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); /* Fundo do scroll */
}

.habit-list-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Cor do thumb do scroll */
    border-radius: 4px; /* Borda arredondada do thumb */
}

.habit-list-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4); /* Cor do thumb do scroll ao passar o mouse */
}

/* Estilos para o Modal */
.modal-content {
    background: #333; /* Fundo cinza escuro */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda fina */
    border-radius: 20px; /* Arredondamento maior */
    color: #aaa; /* Cor do texto */
}

.modal-header {
    border-bottom: none; /* Remove a borda inferior */
    padding: 0; /* Remove o padding */
}

.modal-footer {
    border-top: none; /* Remove a borda superior */
}

.modal-title {
    color: #aaa; /* Cor do título */
}

.btn-close {
    background: none;
    border: none;
    color: #aaa; /* Cor do botão de fechar */
    font-size: 1.5rem; /* Tamanho do botão de fechar */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.btn-close:hover {
    color: #666; /* Cor mais escura ao passar o mouse */
}

.form-label.small {
    color: #aaa; /* Cor dos rótulos do formulário */
    font-size: 0.8rem; /* Diminui a fonte dos rótulos */
}

.form-control.bg-white.text-dark {
    background: #555; /* Fundo cinza mais claro */
    color: #ffffff; /* Texto branco */
    border: 2px solid #444; /* Borda cinza */
    padding: 10px; /* Preenchimento dos campos de entrada */
    border-radius: 10px; /* Arredondamento dos campos de entrada */
    outline: none; /* Remove o outline ao focar */
    transition: border-color 0.3s ease; /* Transição suave da borda */
}

.form-control.bg-white.text-dark:focus {
    border-color: #007bff; /* Borda azul ao focar */
}

.form-check-label.small {
    color: #aaa; /* Cor dos rótulos de checkbox */
    font-size: 0.8rem; /* Diminui a fonte dos rótulos de checkbox */
    display: block; /* Coloca o label abaixo do checkbox */
    margin-top: 4px; /* Espaço entre o checkbox e o label */
}

.btn-primary {
    background: #007bff; /* Fundo do botão primário */
    border: none; /* Sem borda */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento do botão */
    border-radius: 10px; /* Arredondamento do botão */
    outline: none; /* Remove o outline ao focar */
    transition: background-color 0.3s ease; /* Transição suave do fundo */
    font-size: 0.8rem; /* Diminui a fonte do botão */
}

.btn-primary:hover {
    background: #0056b3; /* Fundo mais escuro ao passar o mouse */
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo do backdrop com transparência */
}



/* Ajustes para colocar o label abaixo do checkbox */
.form-check-inline .form-check-label {
    margin-left: 0; /* Remove a margem padrão do label */
    display: block; /* Coloca o label abaixo do checkbox */
    font-size: 0.8rem; /* Diminui a fonte do label */
    margin-top: 4px; /* Espaço entre o checkbox e o label */
}

/* Reduzir o espaço no início do modal */
.modal-body {
    padding: 10px 20px; /* Espaço menor no início do modal */
}

.list-group-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-right: 12px;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Animação suave */
}

.list-group-item input[type="checkbox"]:checked {
    background-color: rgb(85, 150, 101);
    border-color: rgb(85, 150, 101);
}

.list-group-item input[type="checkbox"]:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    transition: opacity 0.2s ease-in; /* Transição sutil do check aparecendo */
    opacity: 1;
}

.list-group-item input[type="checkbox"]:hover:not(:checked) {
    border-color: #aaa;
}

.habit-item {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.habit-fade-out {
    opacity: 0;
    transform: translateY(20px);
}